<%= form_for @team do |f| %>

<div>
<% if f.object.errors.any?%>
    <% f.object.errors.full_messages.each do |x|%>
      <li>Error: <%= x %></li>
    <% end %>
      <li>Team info was not saved</li>
  <% end %>
  </div>

  <div>
    <div>
      <%= f.label :name %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>


  <div>
      <%= f.submit %>
  </div>
  <% end %>
