
<div>
			<h2>There are <%= Team.count %> teams in the league.</h2>
</div>

<div>
	<% if flash[:notice] %>
	  <div class="flash notice row">
	    <p><%= flash[:notice] %></p>
	  </div>
	<% end %>
</div>

<div class="container">

  <% if @teams.any? %>
    <% @teams.each do |t| %>
      <li class="block">
        <p>Name: <%= link_to t.name, team_path(t) %></p>
      </li>
    <% end %>
  <% end %>
</div>

<p><%= link_to "Add Team", new_team_path %></p>
<p><%= link_to "All Players", :players %></p>
