
<h1><%= @team.name %></h1>

<% if flash[:notice] %>
  <div class="flash notice">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<h2>GO <%= @team.name %>!!</h2>

<p><%= link_to "Edit Team", edit_team_path(@team) %></p>
<p><%= link_to "All Teams", :teams %></p>
