
<h1><%= @team.name %></h1>

<% if flash[:notice] %>
  <div class="flash notice">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<h2>GO <%= @team.name %>!!</h2>


<div>
  <% @players.each do |p| %>
<% if @team.players.include?(p) %>
      <li>
        <%= p.name %>
      </li>
        <% else %>
  <% end %>
  <% end %>
</div>


<p><%= link_to "Edit Team", edit_team_path(@team) %></p>
<p><%= link_to "All Teams", :teams %></p>
