<%= form_for @player do |p| %>

<div>
<% if p.object.errors.any?%>
    <% p.object.errors.full_messages.each do |x|%>
      <li>Error: <%= x %></li>
    <% end %>
      <li>Player info was not saved</li>
  <% end %>
  </div>

  <div>
    <div>
      <%= p.label :name %>
    </div>
    <div>
      <%= p.text_field :name %>
    </div>
  </div>

  <div>
    <br>
    <%= p.label :team %>
      <div class="input-field">
        <select class="icons" id="team" name="team_id">
          <% teams_array = Team.all.map { |team| [team.name, team.id] } %>
          <%= options_for_select(teams_array) %>
        </select>
      </div>
  </div>

  <div>
    <br>
      <div>
        <%= p.label :email %>
      </div>
      <div>
        <%= p.text_field :email %>
      </div>
  </div>

  <div>
    <br>
      <%= p.submit %>
  </div>
  <% end %>
