<%= form_for @player do |f| %>

<div>
<% if f.object.errors.any?%>
    <% f.object.errors.full_messages.each do |x|%>
      <li>Error: <%= x %></li>
    <% end %>
      <li>Player info was not saved</li>
  <% end %>
  </div>

  <div>
    <div>
      <%= f.label :name %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>

  <div>
    <br>
    <%= f.label :team %>
      <div class="input-field">
        <%= f.select(:team_id) do %>
          <% teams_array = Team.all.map { |team| [team.name, team.id] } %>
          <%= options_for_select(teams_array) %>
        <% end %>
      </div>
  </div>

  <div>
    <br>
      <div>
        <%= f.label :email %>
      </div>
      <div>
        <%= f.text_field :email %>
      </div>
  </div>

  <div>
    <br>
      <%= f.submit %>
  </div>
  <% end %>
