
<div>
			<h2>There are <%= Player.count %> players in the league.</h2>
</div>

<div>
	<% if flash[:notice] %>
	  <div class="flash notice row">
	    <p><%= flash[:notice] %></p>
	  </div>
	<% end %>
</div>

<div class="container">

  <% if @players.any? %>
    <% @players.each do |p| %>
      <p>Name: <%= link_to p.name, player_path(p) %></p>
      <p> Team: <%= p.team %></p>
      <p>Email:  <%= p.email %></p>
    <% end %>
  <% end %>
</div>

<p><%= link_to "Add Player", new_player_path %></p>
<p><%= link_to "All Teams", :teams %></p>
