<h1>Players show</h1>

<h1><%= @player.name %></h1>

<% if flash[:notice] %>
  <div class="flash notice">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>


<p><%= @player.email %></p>


<p><%= link_to "Edit Player", edit_player_path(@player) %></p>
<p><%= link_to "All Players", :players %></p>
